.theme-dark {
    --background-primary: #36393f31;
    --background-secondary: #34374231;
    --background-secondary-alt: #2c2e31;
    --background-tertiary: #2b2d3044; 
    --background-floating: #20212549;
}
