.theme-dark {
    --background-thumbnail-discord: url(https://cdn.discordapp.com/attachments/570297847182786579/8299981333995}19302/1.png);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff0;
    background-color: #7289da00;
    background-image: var(--background-thumbnail-discord); 
    background-size: cover;
}
.childWrapper-anI2G9 {
    color: #fff0;
    background-color: #7289da00;
    background-image: var(--background-thumbnail-discord); 
    background-size: cover;
}
